.Section__Box--header {
  border: 2px solid black;
  color: brown;
  margin: 15px;
}

.Box {
  display: flex;
  align-content: center;
  color: black;
  border: 3px solid black;
}

.Dropdown {
  display: inline-block;
  z-index: 2;
  position: absolute;
}

.Dropdown--btn {
  border: 2px solid black;
  background-color: azure;
}

.Dropdown--list {
  display: none;
  flex-direction: column;
    color: red;
}

.selected {
  /* display: none; */
  display: block;
  background-color: yellow;
}
