.Section {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  border: 5px solid blue;
}

.Section__header {
  display: flex;
  justify-content: center;
  border: 5px solid red;
  text-align: center;
  width: 100%;
}

.Section__content {
  border: 5px solid green;
}

.Section__Dropdown Dropdown--list {
  display: none;
}
